<div class="container">
    <nz-breadcrumb style="margin:12px 0;">
        <nz-breadcrumb-item>
            <a routerLink="/admin"> 系统管理</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a> 菜单模块管理</a>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</div>




<nz-modal [(nzVisible)]="state==ViewState.Create" nzTitle="添加菜单" (nzOnCancel)="state=ViewState.List" (nzOnOk)="state=ViewState.List;createMenu()">
    <div>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单名</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="newMenu.text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">上级菜单</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select style="width: 120px;" [(ngModel)]="newMenu.parentId" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option nzValue="" nzLabel="顶级菜单"></nz-option>
                    <nz-option [nzValue]="parentMenu.menuId" [nzLabel]="parentMenu.text" *ngFor="let parentMenu of  optionParentMenus"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单链接</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="newMenu.link">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单图标</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="newMenu.icon">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">是否外链</nz-form-label>
            <nz-switch [(ngModel)]="isExteralLink" nzCheckedChildren="外链" nzUnCheckedChildren="内部模块"></nz-switch>
        </nz-form-item>
        <nz-form-item *ngIf="isExteralLink">
            <nz-form-label [nzSpan]="6">外链打开类型</nz-form-label>
            <nz-select style="width: 120px;" [(ngModel)]="newMenu.menuType" nzAllowClear nzPlaceHolder="打开页面方式">
                <nz-option [nzValue]="option.value" [nzLabel]="option.label" *ngFor="let option of externalOpenOptions"></nz-option>
            </nz-select>
        </nz-form-item>


    </div>

</nz-modal>


<nz-tabset (nzSelectChange)="showMenuTabIndex=$event.index;getMenuList();newMenu.menuType=showMenuTabIndex+1">
    <nz-tab nzTitle="市场">
        <div class="container">
            <button nz-button nzType="primary" (click)="showAddMenuModal()">添加菜单</button>
            <div *ngFor="let group of groups" class="menu-group">

                <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                    <i [class]="group.icon"></i> <label>
                                {{group.text}}
                              </label><i class="anticon anticon-edit" (click)="selectMenuGroup(group)"></i>
                </div>
                <br>
                <div>
                    <span *ngFor="let child of group.children" (click)="selectMenu(child)" class="sub-menu">
                            <i [class]="child.icon"></i>  
                            <label >
                            {{child.text}}</label> <i class="anticon anticon-edit" ></i>
                    </span>
                </div>
            </div>
        </div>
    </nz-tab>
    <nz-tab nzTitle="">
        <!-- <div class="container">
            <button nz-button nzType="primary" (click)="showAddMenuModal()">添加菜单</button>
            <div *ngFor="let group of groups" class="menu-group">

                <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                    <i [class]="group.icon"></i> <label>
                                {{group.text}}
                              </label><i class="anticon anticon-edit" (click)="selectMenuGroup(group)"></i>
                </div>
                <br>
                <div>
                    <span *ngFor="let child of group.children" (click)="selectMenu(child)" class="sub-menu">
                            <i [class]="child.icon"></i>  
                            <label >
                            {{child.text}}</label> <i class="anticon anticon-edit" ></i>
                    </span>
                </div>
            </div>
        </div> -->
    </nz-tab>
    <nz-tab nzTitle="开发者">
        <div class="container">
            <button nz-button nzType="primary" (click)="showAddMenuModal()">添加菜单</button>
            <div *ngFor="let group of groups" class="menu-group">

                <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                    <i [class]="group.icon"></i> <label>
                          {{group.text}}
                        </label><i class="anticon anticon-edit" (click)="selectMenuGroup(group)"></i>
                </div>
                <br>
                <div>
                    <span *ngFor="let child of group.children" (click)="selectMenu(child)" class="sub-menu">
                            <i [class]="child.icon"></i>  
                            <label >
                            {{child.text}}</label> <i class="anticon anticon-edit" ></i>
                    </span>
                </div>
            </div>
        </div>
    </nz-tab>

</nz-tabset>



<nz-modal [(nzVisible)]="state==ViewState.EditGroup" nzTitle="更新菜单组" (nzOnCancel)="state=ViewState.List" (nzOnOk)="state=ViewState.List;updateGroup()">
    <div *ngIf="selectedGroup">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单名</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedGroup.text">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单图标</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedGroup.icon">
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="danger" (click)="state=ViewState.List;deleteMenu(selectedGroup.menuId)">删除菜单</button>
    </div>

</nz-modal>


<nz-modal [(nzVisible)]="state==ViewState.EditMenu" nzTitle="更新菜单" (nzOnCancel)="state=ViewState.List" (nzOnOk)="state=ViewState.List;updateMenu()">
    <div *ngIf="selectedMenu">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单名</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedMenu.text">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">上级菜单</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <nz-select style="width: 120px;" [(ngModel)]="selectedMenu.parentId" nzAllowClear nzPlaceHolder="Choose">
                    <nz-option [nzValue]="0" nzLabel="顶级菜单"></nz-option>
                    <nz-option [nzValue]="parentMenu.menuId" [nzLabel]="parentMenu.text" *ngFor="let parentMenu of  optionParentMenus"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单链接</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedMenu.link">
            </nz-form-control>
        </nz-form-item>


        <nz-form-item>
            <nz-form-label [nzSpan]="6">菜单图标</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedMenu.icon">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="6">是否外链</nz-form-label>
            <nz-switch [(ngModel)]="isExteralLink" nzCheckedChildren="外链" nzUnCheckedChildren="内部模块"></nz-switch>
        </nz-form-item>
        <nz-form-item *ngIf="isExteralLink">
            <nz-form-label [nzSpan]="6">外链打开类型</nz-form-label>
            <nz-select style="width: 120px;" [(ngModel)]="selectedMenu.menuType" nzAllowClear nzPlaceHolder="打开页面方式">
                <nz-option [nzValue]="option.value" [nzLabel]="option.label" *ngFor="let option of externalOpenOptions"></nz-option>
            </nz-select>
        </nz-form-item>
    </div>
    <button nz-button nzType="danger" (click)="state=ViewState.List;deleteMenu(selectedMenu.menuId)">删除菜单</button>


</nz-modal>