<div class="text-center">
    <nz-button-group>
        <button nz-button [routerLink]="['../menu']" routerLinkActive="ant-btn-primary">菜单管理</button>
        <button nz-button [routerLink]="['../'+ 'org']" routerLinkActive="ant-btn-primary">机构管理</button>
        <button nz-button [routerLink]="['../employee']" routerLinkActive="ant-btn-primary">用户管理</button>
        <button nz-button [routerLink]="['../role']" routerLinkActive="ant-btn-primary">角色管理</button>
        <button nz-button [routerLink]="['../golbal-setting']" routerLinkActive="ant-btn-primary">全局参数</button>
        <button nz-button [routerLink]="['../local-setting']" routerLinkActive="ant-btn-primary">本地参数</button>

    </nz-button-group>
</div>