<app-market-main-nav></app-market-main-nav>
<button nz-button nzType="primary" (click)="state=View.CreateRole">新增角色</button>
<nz-table #basicTable [nzData]="dataSet">
    <thead>
        <tr>
            <th>角色名</th>
            <th>权限列表</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of roles">
            <td>{{data.roleName}}</td>
            <td> <span *ngFor="let menu of data.menus">{{menu.text}},</span></td>
            <td>
                <a nz-button nzType="primary" (click)="selectedRole=data; state=View.EditRole">修改</a>
                <a nz-button (click)="roleDelete(data.roleId)">删除</a>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-modal [nzVisible]="state==View.CreateRole" [nzWidth]="800" nzTitle="创建角色" (nzOnCancel)="state=View.ListRole" (nzOnOk)="state=View.ListRole;createRole()">
    <ng-container>
        <nz-form-item>
            <nz-form-label [nzSpan]="6">角色名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="newRole.roleName">
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <div class="container">

        <nz-form-item>
            <nz-form-label [nzSpan]="6">角色权限</nz-form-label>
        </nz-form-item>

        <div *ngFor="let group of groups" class="menu-group">
            <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                <label nz-checkbox [(ngModel)]="group.checked" (ngModelChange)="updateAllChecked(group)" [nzIndeterminate]="group.indeterminate">
                    {{group.text}}
                  </label>
            </div>
            <br>
            <nz-checkbox-group [(ngModel)]="group.children" (ngModelChange)="updateSingleChecked(group)"></nz-checkbox-group>
        </div>
    </div>
</nz-modal>

<nz-modal [nzVisible]="state==View.EditRole" [nzWidth]="800" nzTitle="更新角色" (nzOnCancel)="state=View.ListRole" (nzOnOk)="state=View.ListRole;roleUpdate()">
    <ng-container *ngIf="selectedRole">
        <nz-form-item>
            <nz-form-label [nzSpan]="6">角色名称</nz-form-label>
            <nz-form-control [nzSpan]="14">
                <input nz-input [(ngModel)]="selectedRole.roleName">
            </nz-form-control>
        </nz-form-item>

        <div class="container">

            <nz-form-item>
                <nz-form-label [nzSpan]="6">角色权限</nz-form-label>
            </nz-form-item>

            <div *ngFor="let group of groups" class="menu-group">
                <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                    <label nz-checkbox [(ngModel)]="group.checked" (ngModelChange)="updateAllChecked(group)" [nzIndeterminate]="group.indeterminate">
                        {{group.text}}
                      </label>
                </div>
                <br>
                <nz-checkbox-group [(ngModel)]="group.children" (ngModelChange)="updateSingleChecked(group)"></nz-checkbox-group>
            </div>
        </div>
    </ng-container>
</nz-modal>